<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.ensisa.minimaths">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniMaths"
        tools:targetApi="31">
        <activity
            android:name=".LazerMultiVictory"
            android:exported="false" />
        <activity
            android:name=".LazerMultiDefeat"
            android:exported="false" />
        <activity
            android:name=".meteorite.MeteorMenu"
            android:exported="false" />
        <activity
            android:name=".LazerMulti"
            android:exported="false" />
        <activity
            android:name=".PartyList"
            android:exported="false" />
        <activity
            android:name=".LoadingMultiplayer"
            android:exported="false" />
        <activity
            android:name=".MultiDifficulty"
            android:exported="false" />
        <activity
            android:name=".LoadingGame"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quizz_Menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup_activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lazerbattle.LazerBattleMenu"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoloGameList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lazerbattle.LazerBattle"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quizz"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meteorite.MeteorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Credits"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lazerbattle.DefeatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizzDefeat"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ranking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lazerbattle.WinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>